*{
    list-style:none;
}
body{
    background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#mealList  img {
    width : 250px;
}
#meal-detail img{
    width : 250px;
}

#meal-detail{
    text-align : center;
    color : white;
}
.meal{
    border : 3px solid white;
    text-align : center;
    font-weight : 100;
    font-size: 15px;
    background-color: lightsalmon;
}
#mealList{  
    margin: 10px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
