*{
    list-style:none;
}
body{
    background-color: linen;
}
#mealList  img {
    width : 250px;
}
#meal-detail img{
    width : 250px;
}

#meal-detail{
    text-align : center;
}
.meal{
    border : 2px solid goldenrod;
    border-radius : 5px;
    text-align : center;
    font-weight : 100;
    font-size: 15px;
    background-color: lightblue;
}
#mealList{  
    margin: 10px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
